version: "{build}"

image: Visual Studio 2017

# Build only on tags
skip_non_tags: true

branches:
  only:
    - master

install:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-http-proxy.ps1'))

before_build:
  - PATH C:\Python37-x64;C:\Python37-x64\Scripts;%PATH%
  - SET
  - DIR C:\
  - python.exe -m pip install pipenv
  - pipenv --version
  - pipenv install
  - pipenv run download.bat
  - 7z x downloads\ninja-win.zip ninja.exe
  - ninja.exe --version
  - git submodule update --init
  - pipenv run configure.bat
  - type config.bat
  - type config.ninja

build_script:
  - pipenv run ninja.exe

test: off

artifacts:
  - path: gvim-*-x86.exe
    name: gVim_x86_installer
  - path: gvim-*-x86.zip
    name: gVim_x86
  - path: gvim-*-amd64.exe
    name: gVim_amd64_installer
  - path: gvim-*-amd64.zip
    name: gVim_amd64

before_deploy:
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "true" SET VIMTAG=%APPVEYOR_REPO_TAG_NAME%
  - cmd: IF "%APPVEYOR_REPO_TAG%" == "false" (FOR /F "delims=" %%i in ('git -C vim describe --tags --abbrev^=0') DO SET VIMTAG=%%i)
  - cmd: SET VIMVER=%VIMTAG:v=%
  - cmd: FOR /F "delims=" %%i in ('python.exe scripts\gitlog.py') DO SET GITLOG=%%i
  - ps: $ErrorActionPreference = "Stop"
  - ps: Set-AppveyorBuildVariable 'HashTable' (Get-ChildItem "gvim*" -File | ForEach-Object -Process { $t=(Get-FileHash $_.Name -Algorithm SHA256); "| {1} | {0} |" -f $t.Hash,(Get-Item $t.Path).Name } | Out-String)
  - ps: Add-AppveyorMessage "$env:HashTable"
  - ps: Write-Host $env:HashTable

deploy:
  - provider: GitHub
    tag: "$(VIMTAG)"
    description: |
      Custom build of GVim/Vim for Windows.

      Use gvim-$(VIMVER)-x86.exe or gvim-$(VIMVER)-amd64.exe to install GVim/Vim.

      $(GITLOG)

      Current packages linked to GVim/Vim

      * [LuaBinaries](http://luabinaries.sourceforge.net/download.html) 5.1.4
      * [Perl](http://perl.org) 5.28.1
      * [Tcl](http://www.tcl.tk) 8.6.7
      * [Racket](https://download.racket-lang.org/) 7.4
      * [Ruby](https://www.ruby-lang.org/en/downloads/) 2.6.3
      * [Python](https://www.python.org/downloads/) 2.7
      * [Python3](https://www.python.org/downloads/) 3.7

      Hash Table

      |    name   | SHA256 |
      | --------- | ------ |
      $(HashTable)
    auth_token:
      secure: iOiS2SxHg7FOCRo5SiixjnP8bqI/lk1CgtiNWZGWlY8KKBIiZB+jbflmFiDfB2ed
    artifact: /gVim/
    draft: false
    force_update: true

cache:
  - downloads -> appveyor.yml, packages.txt

# vim : ts=2 ws=2 et
